---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPosts } from "../../api";

const posts = await getPosts();
---

<BaseLayout>
  <ul class="flex flex-col mt-16">
    {
      posts.map((post) => (
        <li class="border-b py-8">
          <a href={`/blog/${post.id}`}>{post.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
